<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body class="bg-white">
    <div class="mainContainer flex flex-col">
        <%- include("../partials/navbar.ejs") %>
            <div class="flex">
                <%- include("../partials/sidebar.ejs") %>
                    <div class="flex flex-col ml-72 p-6 w-full gap-10">
                        <!-- start program -->
                        <!-- start title -->
                        <div class="flex flex-col">
                            <h1 class="text-3xl text-left titleSidebar font-base text-darkBlue font-semibold">
                                Hai Admin</h1>
                            <div class="flex flex-row items-center gap-1">
                                <p class="text-sm font-medium font-base text-secBlue">[informasi tambahan]</p>
                            </div>
                        </div>
                        <!-- end title -->
                        <!-- start data -->
                        <div class="flex flex-col gap-6">
                            <form action="/activity/unapproved/mentor/<%= data.thesis.uid %>" method="post">
                                <div class="flex flex-col gap-8">
                                    <div class="flex justify-between gap-8">
                                        <h1 class="font-base text-darkBlue w-96">Nama Lengkap</h1>
                                        <p
                                            class="border text-sm font-base flex-auto text-darkBlue px-4 py-2 leading-6 border-grey">
                                            <%= data.thesis.name %>
                                        </p>
                                    </div>
                                    <div class="flex justify-between gap-8">
                                        <h1 class="font-base text-darkBlue w-96">Nomor Induk Mahasiswa (NIM)</h1>
                                        <p
                                            class="border text-sm font-base flex-auto text-darkBlue px-4 py-2 leading-6 border-grey">
                                            <%= data.thesis.numberID %>
                                        </p>
                                    </div>
                                    <div class="flex justify-between gap-8">
                                        <h1 class="font-base text-darkBlue w-96">Judul Tugas Akhir</h1>
                                        <p
                                            class="border text-sm font-base flex-auto text-darkBlue px-4 py-2 leading-6 border-grey">
                                            <%= data.thesis.judul %>
                                        </p>
                                    </div>
                                    <div class="flex justify-between gap-8">
                                        <h1 class="font-base text-darkBlue w-96">Tujuan Judul Tugas Akhir</h1>
                                        <p
                                            class="border text-sm font-base flex-auto text-darkBlue px-4 py-2 leading-6 border-grey">
                                            <%= data.thesis.tujuan %>
                                        </p>
                                    </div>
                                    <div class="flex justify-between gap-8">
                                        <h1 class="font-base text-darkBlue w-96">Dosen Pembimbing Utama</h1>
                                        <div class="flex flex-col flex-auto">
                                            <select id="pembimbing1" class="border text-sm font-base flex-auto text-darkBlue bg-transparent
                                            outline-none h-10 px-4 border-grey focus:border-darkBlue"
                                                name="pembimbing1" required autofocus
                                                data-role="Dosen Pembimbing Utama">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="flex justify-between gap-8">
                                        <h1 class="font-base text-darkBlue w-96">Dosen Pembimbing Pendamping</h1>
                                        <div class="flex flex-col flex-auto">
                                            <select id="pembimbing2"
                                                class="border text-sm font-base flex-auto text-darkBlue bg-transparent outline-none h-10 px-4 border-grey focus:border-darkBlue"
                                                name="pembimbing2" required autofocus
                                                data-role="Dosen Pembimbing Pendamping">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="flex justify-between gap-8">
                                        <h1 class="font-base text-darkBlue w-96">Dosen Penguji Pertama</h1>
                                        <div class="flex flex-col flex-auto">
                                            <select id="penguji1" class=" border text-sm font-base flex-auto text-darkBlue bg-transparent
                                            outline-none h-10 px-4 border-grey focus:border-darkBlue" name="penguji1"
                                                required autofocus data-role="Dosen Penguji Pertama">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="flex justify-between gap-8">
                                        <h1 class="font-base text-darkBlue w-96">Dosen Penguji Kedua</h1>
                                        <div class="flex flex-col flex-auto">
                                            <select id="penguji2" class=" border text-sm font-base flex-auto text-darkBlue bg-transparent
                                            outline-none h-10 px-4 border-grey focus:border-darkBlue" name="penguji2"
                                                required autofocus data-role="Dosen Penguji Kedua">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="flex justify-between gap-8">
                                        <h1 class="font-base text-darkBlue w-96">Dosen Penguji Ketiga</h1>
                                        <div class="flex flex-col flex-auto">
                                            <select id="penguji3" class=" border text-sm font-base flex-auto text-darkBlue bg-transparent
                                            outline-none h-10 px-4 border-grey focus:border-darkBlue" name="penguji3"
                                                required autofocus data-role="Dosen Penguji Ketiga">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="div flex gap-4 justify-end">
                                        <button class="flex items-center group cursor-pointer" type="submit">
                                            <div class="flex justify-center items-center bg-darkBlue w-10 h-10">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                    viewBox="0 0 24 24" fill="none" stroke="#f3f3f3"" stroke-width=" 2"
                                                    stroke-linecap="round" stroke-linejoin="round"
                                                    class="lucide lucide-plus-icon lucide-plus">
                                                    <path d="M5 12h14" />
                                                    <path d="M12 5v14" />
                                                </svg>
                                            </div>
                                            <h1
                                                class="font-base text-darkBlue px-4 h-10 flex items-center border border-grey group-hover:bg-darkBlue group-hover:text-white group-hover:border-darkBlue">
                                                Konfirmasi Pembimbing dan Penguji</h1>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end data -->
                        <!-- end program -->
                    </div>
            </div>
    </div>
    <script>window.data = <%- JSON.stringify(data.lecturer) %></script>
    <script src="/js/renderOptions.js"></script>
</body>

</html>