<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body class="bg-white">
    <div class="mainContainer flex flex-col">
        <%- include("../partials/navbar.ejs") %>
            <div class="flex">
                <%- include("../partials/sidebar.ejs") %>
                    <div class="flex flex-col ml-72 p-6 w-full gap-10">
                        <!-- start program -->
                        <!-- start title -->
                        <div class="flex flex-col">
                            <h1 class="text-3xl text-left titleSidebar font-base text-darkBlue font-semibold">
                                Hai Admin</h1>
                            <div class="flex flex-row items-center gap-1">
                                <p class="text-sm font-medium font-base text-secBlue">[informasi tambahan]</p>
                            </div>
                        </div>
                        <!-- end title -->
                        <!-- start input data -->
                        <form class="flex flex-col gap-8" action="/schedule/add/<%= data.thesisData.thesisID %>" method="post">
                            <div class="flex flex-col gap-6">
                                <div class="flex flex-col gap-8">
                                    <div class="flex justify-between gap-8">
                                        <h1 class="font-base text-darkBlue w-96">Hari/Tanggal</h1>
                                        <div class="flex flex-col flex-auto">
                                            <input
                                                class="border text-sm font-base flex-auto text-darkBlue bg-transparent outline-none h-10 px-4 border-grey focus:border-darkBlue"
                                                required type="date" name="date" id="date" autocomplete="off" autofocus
                                                value="<%= data.thesisData.date %>">
                                            <p class="errorMessage text-sm font-medium font-base text-red-400">
                                                <%= data.error %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="flex justify-between gap-8">
                                        <h1 class="font-base text-darkBlue w-96">Pukul</h1>
                                        <div class="flex flex-col flex-auto">
                                            <input
                                                class="border text-sm font-base flex-auto text-darkBlue bg-transparent outline-none h-10 px-4 border-grey focus:border-darkBlue"
                                                required type="time" name="time" id="time" autocomplete="off"
                                                value="<%= data.thesisData.time %>">
                                        </div>
                                    </div>
                                    <div class="flex justify-between gap-8">
                                        <h1 class="font-base text-darkBlue w-96">Jenis Ujian</h1>
                                        <div class="flex flex-col flex-auto">
                                            <select
                                                class="border text-sm font-base flex-auto text-darkBlue bg-transparent outline-none h-10 px-4 border-grey focus:border-darkBlue"
                                                name="jenisUjian" id="jenisUjian" required>
                                                <option value="" disabled <%=data.thesisData.jenisUjian ? ""
                                                    : "selected" %>>-- Pilih Jenis Ujian --</option>
                                                <option value="proposal" <%=data.thesisData.jenisUjian==="proposal"
                                                    ? "selected" : "" %>>Proposal</option>
                                                <option value="hasil" <%=data.thesisData.jenisUjian==="hasil"
                                                    ? "selected" : "" %>>Hasil</option>
                                                <option value="tutup" <%=data.thesisData.jenisUjian==="tutup"
                                                    ? "selected" : "" %>>Tutup</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="flex justify-between gap-8">
                                        <h1 class="font-base text-darkBlue w-96">Nama Lengkap</h1>
                                        <div class="flex flex-col flex-auto">
                                            <input
                                                class="border text-sm font-base flex-auto text-darkBlue bg-transparent outline-none h-10 px-4 border-grey"
                                                required type="text" name="name" id="name" autocomplete="off"
                                                value="<%= data.thesisData.name %>" readonly>

                                        </div>
                                    </div>
                                    <div class="flex justify-between gap-8">
                                        <h1 class="font-base text-darkBlue w-96">Nomor Induk Mahasiswa (NIM)</h1>
                                        <div class="flex flex-col flex-auto">
                                            <input
                                                class="border text-sm font-base flex-auto text-darkBlue bg-transparent outline-none h-10 px-4 border-grey"
                                                required type="text" name="numberID" id="numberID" autocomplete="off"
                                                value="<%= data.thesisData.numberID %>" readonly>

                                        </div>
                                    </div>
                                    <div class="flex justify-between gap-8">
                                        <h1 class="font-base text-darkBlue w-96">Judul Tugas Akhir</h1>
                                        <div class="flex flex-col flex-auto">
                                            <input
                                                class="border text-sm font-base flex-auto text-darkBlue bg-transparent outline-none h-10 px-4 border-grey"
                                                required type="text" name="judulUtama" id="judulUtama"
                                                autocomplete="off" value="<%= data.thesisData.judulUtama %>" readonly>
                                        </div>
                                    </div>
                                    <div class="flex justify-between gap-8">
                                        <h1 class="font-base text-darkBlue w-96">Tujuan Judul Tugas Akhir</h1>
                                        <div class="flex flex-col flex-auto">
                                            <input
                                                class="border text-sm font-base flex-auto text-darkBlue bg-transparent outline-none h-10 px-4 border-grey"
                                                required type="text" name="tujuanUtama" id="tujuanUtama"
                                                autocomplete="off" value="<%= data.thesisData.tujuanUtama %>" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex justify-between gap-8">
                                    <h1 class="font-base text-darkBlue w-96">Dosen Pembimbing Utama</h1>
                                    <div class="flex flex-col flex-auto">
                                        <input
                                            class="border text-sm font-base flex-auto text-darkBlue bg-transparent outline-none h-10 px-4 border-grey"
                                            required type="text" name="pembimbing1" id="pembimbing1" autocomplete="off"
                                            value="<%= data.thesisData.pembimbing1 %>" readonly>

                                    </div>
                                </div>
                                <div class="flex justify-between gap-8">
                                    <h1 class="font-base text-darkBlue w-96">Dosen Pembimbing Pendamping</h1>
                                    <div class="flex flex-col flex-auto">
                                        <input
                                            class="border text-sm font-base flex-auto text-darkBlue bg-transparent outline-none h-10 px-4 border-grey"
                                            required type="text" name="pembimbing2" id="pembimbing2" autocomplete="off"
                                            value="<%= data.thesisData.pembimbing2 %>" readonly>

                                    </div>
                                </div>
                                <div class="flex justify-between gap-8">
                                    <h1 class="font-base text-darkBlue w-96">Dosen Penguji Pertama</h1>
                                    <div class="flex flex-col flex-auto">
                                        <input
                                            class="border text-sm font-base flex-auto text-darkBlue bg-transparent outline-none h-10 px-4 border-grey"
                                            required type="text" name="penguji1" id="penguji1" autocomplete="off"
                                            value="<%= data.thesisData.penguji1 %>" readonly>

                                    </div>
                                </div>
                                <div class="flex justify-between gap-8">
                                    <h1 class="font-base text-darkBlue w-96">Dosen Penguji Kedua</h1>
                                    <div class="flex flex-col flex-auto">
                                        <input
                                            class="border text-sm font-base flex-auto text-darkBlue bg-transparent outline-none h-10 px-4 border-grey"
                                            required type="text" name="penguji2" id="penguji2" autocomplete="off"
                                            value="<%= data.thesisData.penguji2 %>" readonly>

                                    </div>
                                </div>
                                <div class="flex justify-between gap-8">
                                    <h1 class="font-base text-darkBlue w-96">Dosen Penguji Ketiga</h1>
                                    <div class="flex flex-col flex-auto">
                                        <input
                                            class="border text-sm font-base flex-auto text-darkBlue bg-transparent outline-none h-10 px-4 border-grey"
                                            required type="text" name="penguji3" id="penguji3" autocomplete="off"
                                            value="<%= data.thesisData.penguji3 %>" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="div flex gap-4 justify-end">
                                <a class="flex items-center group cursor-pointer" href="/schedule/add">
                                    <h1
                                        class="font-base text-red-400 px-4 h-10 flex items-center border border-red-400 group-hover:bg-red-400 group-hover:text-white ">
                                        Batal</h1>
                                </a>
                                <button class="flex items-center group cursor-pointer" type="submit">
                                    <div class="flex justify-center items-center bg-darkBlue w-10 h-10">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="#f3f3f3"" stroke-width=" 2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-plus-icon lucide-plus">
                                            <path d="M5 12h14" />
                                            <path d="M12 5v14" />
                                        </svg>
                                    </div>
                                    <h1
                                        class="font-base text-darkBlue px-4 h-10 flex items-center border border-grey group-hover:bg-darkBlue group-hover:text-white group-hover:border-darkBlue">
                                        Tambah Jadwal</h1>
                                </button>
                            </div>
                    </div>
                    </form>
                    <!-- end input data -->
                    <!-- end program -->
            </div>
    </div>
    </div>
</body>

</html>