<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body class="bg-white">
    <div class="mainContainer flex flex-col">
        <%- include("../partials/navbar.ejs") %>
            <div class="flex">
                <%- include("../partials/sidebar.ejs") %>
                    <div class="flex flex-col ml-72 p-6 w-full gap-10">
                        <!-- start program -->
                        <!-- start title -->
                        <div class="flex flex-col">
                            <h1 class="text-3xl text-left titleSidebar font-base text-darkBlue font-semibold">
                                Hai Admin</h1>
                            <div class="flex flex-row items-center gap-1">
                                <p class="text-sm font-medium font-base text-secBlue">[informasi tambahan]</p>
                            </div>
                        </div>
                        <!-- end title -->
                        <!-- start tabel kit -->
                        <div class="flex justify-between">
                            <div class="flex">
                                <!-- start fitur search -->
                                <div class="flex">
                                    <div class="w-10 h-10 flex justify-center items-center bg-darkBlue">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="#f3f3f3" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-search-icon lucide-search">
                                            <circle cx="11" cy="11" r="8" />
                                            <path d="m21 21-4.3-4.3" />
                                        </svg>
                                    </div>
                                    <input
                                        class="border text-sm font-base text-darkBlue bg-transparent outline-none h-10 w-80 px-4 border-grey focus:border-darkBlue"
                                        type="text" name="searchInput" id="searchInput"
                                        placeholder="Cari data nama atau NIDN/NIM" autocomplete="off">
                                </div>
                                <!-- end fitur search -->
                                <!-- start fitur filter -->
                                <div class="flex group">
                                    <div class="w-10 h-10 flex justify-center items-center bg-darkBlue">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="#f3f3f3" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-funnel-icon lucide-funnel">
                                            <path
                                                d="M10 20a1 1 0 0 0 .553.895l2 1A1 1 0 0 0 14 21v-7a2 2 0 0 1 .517-1.341L21.74 4.67A1 1 0 0 0 21 3H3a1 1 0 0 0-.742 1.67l7.225 7.989A2 2 0 0 1 10 14z" />
                                        </svg>
                                    </div>
                                    <div
                                        class="h-10 flex px-4 gap-8 items-center border border-grey group-hover:border-darkBlue">
                                        <p class="text-md font-base text-darkBlue -mr-4">Peran :</p>
                                        <div class="flex items-center gap-1">
                                            <input class="roleFilter accent-darkBlue" type="checkbox" name="student"
                                                id="student" value="mahasiswa" checked>
                                            <label class="text-md font-base text-darkBlue"
                                                for="student">Mahasiswa</label>
                                        </div>
                                        <div class="flex items-center gap-1">
                                            <input class="roleFilter accent-darkBlue" type="checkbox" name="lecturer"
                                                id="lecturer" value="dosen" checked>
                                            <label class="text-md font-base text-darkBlue" for="lecturer">Dosen</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- end fitur filter -->
                            </div>
                            <div class="flex gap-4">
                                <!-- start lihat pengajuan akun -->
                                <a class="flex items-center group" href="/users/unapproved">
                                    <div class="flex justify-center items-center bg-darkBlue w-10 h-10">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="#f3f3f3" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-user-plus-icon lucide-user-plus">
                                            <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
                                            <circle cx="9" cy="7" r="4" />
                                            <line x1="19" x2="19" y1="8" y2="14" />
                                            <line x1="22" x2="16" y1="11" y2="11" />
                                        </svg>
                                    </div>
                                    <h1
                                        class="font-base text-darkBlue px-4 h-10 flex items-center border border-grey group-hover:bg-darkBlue group-hover:text-white group-hover:border-darkBlue">
                                        Lihat Pengajuan Akun</h1>
                                </a>
                                <!-- end lihat pengajuan akun -->
                                <!-- start add mahasiswa atau dosen -->
                                <div class="flex relative">
                                    <button class="flex items-center cursor-pointer group" id="dropdownBtn"
                                        onclick="toggleDropdown()">
                                        <div class="flex justify-center items-center bg-darkBlue w-10 h-10">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                viewBox="0 0 24 24" fill="none" stroke="#f3f3f3" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="lucide lucide-plus-icon lucide-plus">
                                                <path d="M5 12h14" />
                                                <path d="M12 5v14" />
                                            </svg>
                                        </div>
                                        <h1
                                            class="font-base text-darkBlue px-4 h-10 flex items-center border border-grey group-hover:bg-darkBlue group-hover:text-white group-hover:border-darkBlue">
                                            Tambah Pengguna</h1>
                                    </button>
                                    <!-- start dropdown -->
                                    <div id="dropdownMenu"
                                        class="absolute hidden left-0 top-10 z-10 mt-2 w-40 bg-white border border-grey">
                                        <a class="font-base text-darkBlue px-4 h-10 flex items-center hover:bg-darkBlue hover:text-white"
                                            href="/users/student/add">Mahasiswa
                                        </a>
                                        <a class="font-base text-darkBlue px-4 h-10 flex items-center hover:bg-darkBlue hover:text-white"
                                            href="/users/lecturer/add">Dosen
                                        </a>
                                    </div>
                                    <!-- end dropdown -->
                                </div>
                                <!-- end add mahasiswa atau dosen -->
                            </div>
                        </div>
                        <!-- end tabel kit -->
                        <!-- start tabel -->
                        <% if (data.allUsers.length> 0) { %>
                            <table class="table-fixed border-collapse border-spacing-4 p-4 border border-gray-400">
                                <thead>
                                    <tr class="border">
                                        <th
                                            class="text-left font-base text-white bg-darkBlue border border-darkBlue font-normal text-xl p-3 w-8">
                                            #</th>
                                        <th
                                            class="text-left font-base text-white bg-darkBlue border border-darkBlue font-bold text-xl p-3">
                                            Nama</th>
                                        <th
                                            class="text-left font-base text-white bg-darkBlue border border-darkBlue font-bold text-xl p-3 w-40">
                                            NIDN / NIM</th>
                                        <th
                                            class="text-left font-base text-white bg-darkBlue border border-darkBlue font-bold text-xl p-3 w-40">
                                            Peran</th>
                                        <th
                                            class="text-left font-base text-white bg-darkBlue border border-darkBlue font-bold text-xl p-3">
                                            Timestamp
                                        </th>
                                        <th
                                            class="text-left font-base text-white bg-darkBlue border border-darkBlue font-bold text-xl p-3 w-40">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="dataList">
                                    <% data.allUsers.forEach((item, index)=> { %>
                                        <tr>
                                            <td class="border border-grey py-2 px-3 font-base text-darkBlue">
                                                <%= index + 1 %>
                                            </td>
                                            <td class="border border-grey py-2 px-3 ">
                                                <div class="flex items-center gap-4">
                                                    <img class="object-cover w-8 h-8 rounded-full border border-grey"
                                                        src="/images/_test.jpg" alt="">
                                                    <p class="font-base text-darkBlue">
                                                        <%= item.name %>
                                                    </p>
                                                </div>
                                            </td>
                                            <td class="border border-grey py-2 px-3 font-base text-darkBlue">
                                                <%= item.numberID %>
                                            </td>
                                            <td class="border border-grey py-2 px-3 font-base text-darkBlue">
                                                <%= item.role %>
                                            </td>
                                            <td class="border border-grey py-2 px-3 font-base text-darkBlue">
                                                <%= item.registerDate %>
                                            </td>
                                            <td class="border border-grey font-base text-darkBlue">
                                                <div class="flex p-1">
                                                    <a class="flex items-center gap-2 cursor-pointer p-2 h-9 group hover:bg-darkBlue"
                                                        href="/users/edit/<%= item.uid %>">
                                                        <svg class="stroke-darkBlue group-hover:stroke-white"
                                                            xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="lucide lucide-pencil-icon lucide-pencil">
                                                            <path
                                                                d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
                                                            <path d="m15 5 4 4" />
                                                        </svg>
                                                        <p class="font-base text-darkBlue group-hover:text-white">
                                                            Edit</p>
                                                    </a>
                                                    <button
                                                        class="flex items-center gap-2 cursor-pointer p-2 h-9 group border-l border-grey hover:bg-red-400"
                                                        type="button" onclick="rejectUser(`<%= item.uid %>`)">
                                                        <svg class="stroke-red-400 group-hover:stroke-white"
                                                            xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="lucide lucide-ban-icon lucide-ban">
                                                            <circle cx="12" cy="12" r="10" />
                                                            <path d="m4.9 4.9 14.2 14.2" />
                                                        </svg>
                                                        <p class="font-base text-red-400 group-hover:text-white">
                                                            Hapus</p>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                            <% } else { %>
                                <div class="flex justify-center items-center gap-4 bg-secWhite p-6 h-96">
                                    <p class="text-sm font-medium font-base text-darkBlue">Tidak ada akun
                                        sejauh ini</p>
                                </div>
                                <% } %>
                                    <!-- end tabel -->
                                    <!-- end program -->
                    </div>
            </div>
    </div>
    <script src="/js/searchFilterUser.js"></script>
    <script src="/js/toggleDropdown.js"></script>
    <script src="/js/userIsApproved.js"></script>

</body>

</html>